# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2022 Scipp contributors (https://github.com/scipp)

name: CI

on:
  push:
    branches:
      - main
      - release
  pull_request:

jobs:
  formatting:
    name: Formatting and static analysis
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: tox -e static
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply automatic formatting

  tests:
    name: Tests ${{ matrix.name }}
    needs: formatting
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          # - {name: '3.10', python: '3.10', os: ubuntu-20.04, tox: py310}
          - {name: '3.9', python: '3.9', os: ubuntu-20.04, tox: py39}
          # - {name: '3.8', python: '3.8', os: ubuntu-20.04, tox: py38}
          # - {name: 'lowest', python: '3.8', os: ubuntu-20.04, tox: lowest}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: tox -e ${{ matrix.tox }}

  docs:
    needs: tests
    uses: ./.github/workflows/docs.yml
