# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Scipp contributors (https://github.com/scipp)

name: Docs

on:
  workflow_dispatch:
    inputs:
      publish:
        default: false
        type: boolean
  workflow_call:
    inputs:
      publish:
        default: false
        type: boolean

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    steps:
      - run: sudo apt install --yes graphviz pandoc
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: tox -e docs
      - uses: actions/upload-artifact@v3
        with:
          name: docs_html
          path: docs_html
      - uses: JamesIves/github-pages-deploy-action@v4.4.3
        if: ${{ inputs.publish }}
        with:
          branch: gh-pages
          folder: docs_html
          target-folder: ${{ env.target }}
          single-commit: true

  assets:
    if: ${{ inputs.publish }}
    name: Upload docs
    needs: docs
    runs-on: ubuntu-22.04
    permissions:
      contents: write  # This is needed so that the action can upload the asset
    steps:
    - uses: actions/download-artifact@v3
    - name: Zip documentation
      run: |
        mv docs_html documentation-${{ github.ref_name }}
        zip -r documentation-${{ github.ref_name }}.zip documentation-${{ github.ref_name }}
    - name: Upload release assets
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./documentation-${{ github.ref_name }}.zip
        tag: ${{ github.ref }}
        overwrite: false
