# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Scipp contributors (https://github.com/scipp)

name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}  # required for conda env

jobs:
  build_conda:
    name: Conda build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0  # history required so conda can determine version
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: build-env
          create-args: >-
            python=3.10
            conda-build
            boa
      - run: conda mambabuild --channel conda-forge --channel scipp --python=3.10 --no-anaconda-upload --override-channels --output-folder conda/package conda
      - uses: actions/upload-artifact@v3
        with:
          name: conda-package-noarch
          path: conda/package/*/plopp*.tar.bz2

  build_wheels:
    name: Wheels
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # history required so setuptools_scm can determine version
      - uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/wheels.txt
      - name: Build wheels
        run: python -m build
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist

  upload_pypi:
    name: Deploy to PyPI
    needs: [build_conda, build_wheels]
    runs-on: ubuntu-22.04
    environment: release
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
      - uses: pypa/gh-action-pypi-publish@v1.8.10

  upload_conda:
    name: Deploy to Conda
    needs: [build_conda, build_wheels]
    runs-on: ubuntu-22.04
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: upload-env
          create-args: >-
            python=3.10
            anaconda-client
      - run: anaconda --token ${{ secrets.ANACONDATOKEN }} upload --user scipp --label main $(ls conda-package-*/*/*.tar.bz2)

  docs:
    needs: [upload_pypi, upload_conda]
    uses: ./.github/workflows/docs.yml
    with:
      publish: ${{ github.event_name == 'release' && github.event.action == 'published' }}
    secrets: inherit

  assets:
    name: Upload docs
    needs: docs
    runs-on: ubuntu-22.04
    permissions:
      contents: write  # This is needed so that the action can upload the asset
    steps:
    - uses: actions/download-artifact@v3
    - name: Zip documentation
      run: |
        mv docs_html documentation-${{ github.ref_name }}
        zip -r documentation-${{ github.ref_name }}.zip documentation-${{ github.ref_name }}
    - name: Upload release assets
      uses: svenstaro/upload-release-action@v2
      with:
        file: ./documentation-${{ github.ref_name }}.zip
        overwrite: false
